:root {
	--bg-color: #3c7419;
}

body {
	background: #3c7419;
	background: var(--bg-color);
	color: #fff;
	font-family: monospace;
	height: 100%;
	line-height: 1.5;
	margin: 0;
}

.wf-sharetechmono-n4-active body {
	font-family: 'Share Tech Mono', monospace;
}

a:link {
	color: #fff;
}

a:visited {
	color: #ccc;
}

@media (max-width: 60em) {
	body {
		font-size: 20px;
		display: flex;
		flex-direction: column-reverse;
	}
}

@media (min-width: 60em) {
	html {
		height: 100%;
	}

	body {
		align-items: center;
		display: flex;
		flex-direction: row;
		font-size: 24px;
		margin: 0;
	}
}
