p Professional Experience:

ul.experience
	li.plex(title='Plex: media software solutions')
		a(href='https://www.plex.tv/') Plex
	li.facebook(title='Facebook')
		a(href='https://www.facebook.com/') Facebook
	li.saltside(title='Saltside: a classifieds marketplace focused on emerging markets in Asia and Africa')
		a(href='http://saltside.se/') Saltside
	li.duego(title='Duego: dating app focused on Brazil') Duego
	li.codingheads(title='CodingHeads: front-end outsourcing services')
		a(href='http://codingheads.com/') CodingHeads
