.photo {
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.photo::after {
	content: '';
	position: absolute;
	z-index: 0;
}

@media (max-width: 60em) {
	.photo {
		background: url(../img/profile-photo-small.jpg) no-repeat 50% 56%;
		height: 33vh;
		width: 100vw;
	}

	.photo::after {
		background: radial-gradient(
			ellipse farthest-side at 50% 0,
			transparent 75%,
			#3c7419
		);
		background: radial-gradient(
			ellipse farthest-side at 50% 0,
			transparent 75%,
			var(--bg-color)
		);
		bottom: 0;
		left: -25%;
		right: -25%;
		top: 50%;
	}
}

@media (min-width: 60em) {
	.photo {
		background: url(../img/profile-photo-large.jpg) no-repeat 50% 15%;
		flex: 6;
		height: 100%;
	}

	.photo::after {
		background: radial-gradient(
				ellipse farthest-side at 100% 0,
				transparent 70%,
				#3c7419 95%
			),
			linear-gradient(
				0deg,
				#3c7419 28%,
				transparent 32%,
				transparent 94%,
				#3c7419 98%
			);
		background: radial-gradient(
				ellipse farthest-side at 100% 0,
				transparent 70%,
				var(--bg-color) 95%
			),
			linear-gradient(
				0deg,
				var(--bg-color) 28%,
				transparent 32%,
				transparent 94%,
				var(--bg-color) 98%
			);
		bottom: -30%;
		left: -5%;
		right: 0;
		top: 0;
	}
}
